/*!
 * Configurações específicas para este site
 * @author: Mick Hill
 * 
 * 
 */


/*===============================
      Configuraçãoe globais
===============================*/



/*===============================
  Configuração da Barra do topo
===============================*/

#mainNav{
  background-color: transparent;
  -webkit-transition:  all .2s ease-out;
  -moz-transition:  all .2s ease-out;
  transition:  all .2s ease-out;
}

#mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #fed136;
}

#mainNav img{
  width: 230px;
  -webkit-transition:  all .3s ease-out;
  -moz-transition:  all .3s ease-out;
  transition:  all .3s ease-out;
}

#mainNav.navbar-shrink img{
  width: 180px;
}

#mainNav .navbar-nav .nav-item .nav-link{
  background-color: transparent;
  text-align: center;
}
#mainNav .navbar-nav .nav-item .nav-link.active{ 
    background-color: rgba(0,0,0, 0.2) !important;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:focus {
    color: #18BAE9;
    background-color: rgba(0,0,0, 0.2) !important;
}

@media(min-width:992px) {
    .button-toggle-navigation {
      display: none;
    }
}
.button-toggle-navigation {
    background-color: transparent;
    border: 0;
    font-size: 17px;
    cursor: pointer;
    height: 1.5em;
    margin: .75em 15px;
    position: relative;
    width: 2.25em;
    -webkit-transition: all .3s ease-out;
       -moz-transition: all .3s ease-out;
            transition: all .3s ease-out;
}
.button-toggle-navigation::after,
.button-toggle-navigation::before {
  border-bottom: 0.25em solid #fafafa;
  bottom: 40%;
  content: '';
  height: 0;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transition: -webkit-transform 200ms ease-out;
          transition: transform 200ms ease-out;
}
.button-toggle-navigation span {
  color: transparent;
  height: 0;
  width: 0;
  overflow: hidden;
  position: absolute;
}
.collapsed {
    border-bottom: 0.25em solid #fafafa;
    border-top: 0.25em solid #fafafa;
}

.isActive {
  border-color: transparent;
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}
.isActive::after, .isActive::before {
  -webkit-transition: -webkit-transform 200ms ease-out;
          transition: transform 200ms ease-out;
}
.isActive::after {
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}
.isActive::before {
  -webkit-transform: rotateZ(-45deg);
          transform: rotateZ(-45deg);
}
@media(min-width:768px) {

    .navbar-fixed-top .logo-topo{
        position: absolute;
        margin-top: -11px;
        width: 173px;
        -webkit-transition: all .3s;
           -moz-transition: all .3s;
                transition: all .3s;
    }
    .navbar-fixed-top.navbar-shrink .logo-topo{
        position: absolute;
        margin-top: 0;
        width: 119px
    }
}
@media(max-width:767px) {
    .navbar-header{
        margin: 10px 0;
    }
    .navbar-fixed-top .logo-topo{
        margin-left: 15px;
        margin-top: 0;
        position: absolute;
        width: 119px
    }
    .navbar-fixed-top.navbar-shrink .logo-topo{
        margin-left: 15px;
        margin-top: 0;
        position: absolute;
        width: 119px
    }
}



/*===============================
    Configuração do banner.
===============================*/

html, body {height: 100%;}

.carousel, .item, .active {height: 100%;}
.carousel-inner {height: 100%;}

@media(min-width:768px) {
    .banner{
        width: 100%;
        height: 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
}
@media(max-width:767px) {
    .banner{
        height: 100%;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
           -moz-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
}



/*===============================
    Configuração do Mapa.
===============================*/

#mapa{
    padding: 10px 0;
    width: 100%;
    height: 100%;
    position: relative;
}
#mapa iframe{
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    border:0;
}



/*==============================================
   Configuração do botão que volta para o topo.
==============================================*/

#btn-to-top{
    position: fixed;
    bottom: 20px;
    right: 26px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    background-color: #FED136;
    border-color: transparent !important;
    border-radius: 30px;
    padding: 3px 10px 30px 10px;
    font-size: 30px;
    width: 50px;
    height: 50px;

    

    -webkit-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    -moz-box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
    box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.2);
} 

#btn-to-top:hover{
    color: #18BAE9;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}